
<h1>
  Unit of Measures List
</h1>

<div class="d-flex justify-content-end">
  <a class="btn btn-primary" [routerLink]="['create']">
    Create New Unit of Measure
  </a>
</div>

<table class="table">
  <thead>

    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>UnitOfMeasureValue</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let unitOfMeasure of unitOfMeasures">
      <td>{{ unitOfMeasure.id }}</td>
      <td>{{ unitOfMeasure.name }}</td>
      <td>{{ unitOfMeasure.type }}</td>
      <td>{{ unitOfMeasure.unitOfMeasureValue }}</td>
      <td>{{ unitOfMeasure.price }}</td>
      <td>{{ unitOfMeasure.quantity }}</td>
      <td>
        <a class="btn btn-secondary" [routerLink]="['edit', unitOfMeasure.id]">
          Edit
        </a>

</tr>
  </tbody>

</table>
