
<loading-indicator *ngIf="isLoading" message="Loading Create ProductType..." />

<back-indicator [routerLink]="['/product-types']" back-indicator />
<h1>
  Create Product Type
</h1>

<form #productForm="ngForm" (ngSubmit)="createProductType(productForm)">
  <div class="mb-3">
    <label>
      Name
    </label>
    <input id="producttype-name"
           name="name"
           required
           type="text"
           maxlength="100"
           class="form-control"
           [(ngModel)]="productType.name"
           #nameField="ngModel" />
    <div *ngIf="nameField.errors && productForm.submitted" class="text-danger">
      <div *ngIf="nameField.errors?.['required']">
        This field is required.
      </div>

    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="producttype-brand">
      Brand
    </label>
    <textarea id="producttype-brand"
              name="brand"
              required
              maxlength="500"
              class="form-control"
              [(ngModel)]="productType.brand">
    </textarea>
  </div>

  <div class="mb-3">
    <label class="form-label" for="producttype-type">
      Type
    </label>
    <input id="producttype-type"
           name="type"
           type="text"
           class="form-control"
           [(ngModel)]="productType.type" />
  </div>

  <div class="mb-3">
    <label class="form-label" for="producttype-price">
      Price
    </label>
    <input id="producttype-price"
           name="price"
           type="number"
           class="form-control"
           [(ngModel)]="productType.price" />
  </div>

  <div class="mb-3">
    <label class="form-label" for="producttype-quantity">
      Quantity
    </label>
    <input id="producttype-quantity"
           name="quantity"
           type="number"
           class="form-control"
           [(ngModel)]="productType.quantity" />
  </div>

  <div class="mb-3">
    <label class="form-label" for="producttype-manufacturer">
      Manufacturer
    </label>
    <select id="producttype-manufacturer"
            name="manufacturer"
            class="form-control"
            [ngModel]="productType.manufacturer?.id">
      (ngModelChange)="onManufacturerChange($event)"
      <option> --Please select--</option>
      <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">
        {{ manufacturer.name }}
      </option>
    </select>
  </div>

  <div>
    <button type="submit" class="btn btn-primary">
      Save
    </button>
  </div>
</form>
