.back-btn {
  background-color: #1976d2;
  color: white;
  border: 2px solid #ff5252; 
  border-radius: 40px;
  padding: 6px 14px; 
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 10px;
  margin-top: 10px;
}

  .back-btn:hover {
    background-color: #0d47a1;
    transform: scale(1.03);
  }

  .back-btn:active {
    transform: scale(0.95);
  }
