
<loading-indicator *ngIf="isLoading" message="Loading UnitOfMeasures..." />
<app-back-button></app-back-button>


<h1>
  UnitOfMeasure List
</h1>

<div class="d-flex justify-content-end">
  <a class="btn btn-primary" [routerLink]="['create']">
    Create Unit Of Measure
  </a>
</div>

<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Symbol</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let unitOfMeasure of unitOfMeasures">
      <td>{{ unitOfMeasure.id }}</td>
      <td>{{ unitOfMeasure.name }}</td>
      <td>{{ unitOfMeasure.symbol }}</td>
      <td>
        <a class="btn btn-secondary"
           [routerLink]="['edit', unitOfMeasure.id]">
          Edit
        </a>
      </td>
    </tr>
  </tbody>
</table>
