<nav class="navbar navbar-expand-lg navbar-light bg-white" style="width:100%; margin-bottom:50px;">
  <a class="navbar-brand ms-3" href="/products">
    <img src="https://static.vecteezy.com/system/resources/thumbnails/016/471/571/small/mountain-black-and-white-logo-design-nature-landscape-adventure-vector.jpg" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
    ProductsWeb
  </a>
  <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto me-3">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/productstype">Products Type</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/unitsofmesure">Units of Measure</a>
      </li>
    </ul>
  </div>
</nav>
