
<h2>
  Product types list
</h2>

<div class="d-flex justify-content-end">
  <a class="btn btn-primary" [routerLink]="['create']">
    Create product type
  </a>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let productType of productTypes">
      <td>
        {{productType.id}}
      </td>
      <td>
        {{productType.name}}
      </td>
      <td>
        <a class="btn btn-secondary" [routerLink]="['edit', productType.id]">
          Edit
        </a>
      </td>
    </tr>
  </tbody>
</table>
