<h1>
  ProductTypes List
</h1>

<div class="d-flex justify-content-end">
  <a class="btn btn-primary" [routerLink]="['create']">
    Create New Product Type
  </a>
</div>

<table class="table">
  <thead>

      <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Type</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let productType of productTypes">
      <td>{{ productType.id }}</td>
      <td>{{ productType.name }}</td>
      <td>{{ productType.brand }}</td>
      <td>{{ productType.type }}</td>
      <td>{{ productType.price }}</td>
      <td>{{ productType.quantity }}</td>
      <td>
        <a class="btn btn-secondary" [routerLink]="['edit', productType.id]">
          Edit
        </a>
            </td>
    </tr>
  </tbody>
</table>
